    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
    html {
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    
    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
    
    a {
        text-decoration: none;
        color: inherit;
    }
    
    ul,
    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        font-size: inherit;
    }
    
    body,
    html {
        padding: 0;
        margin: 0;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 600;
    }
    
    button {
        padding: 0;
        margin: 0;
    }
    
    .wrapper {
        width: 2500px;
        margin: 30% auto;
        padding: 0 512px;
    }
    
    .bottom_bar {
        position: relative;
        width: 2587px;
        height: 403px;
        background-image: url(../images/bottom-bar-bg.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    .info {
        position: absolute;
        top: 63px;
        left: 130px;
        border-radius: 50%;
        background-image: url(../images/btn-info-bg.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 112px;
        height: 112px;
        &-btn {
            position: absolute;
            border: none;
            display: block;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-image: url(../images/btn-info-normal.png);
            background-repeat: no-repeat;
            background-size: contain;
            transition: all 0.3s;
            top: 6px;
            left: 6px;
            cursor: pointer;
            &:hover {
                background-image: url(../images/btn-info-hover.png);
                &::before {
                    position: absolute;
                    content: '';
                    background-image: url(../images/info_sign-hover.png);
                    background-repeat: no-repeat;
                    width: 22px;
                    height: 65px;
                    top: 17px;
                    left: 39px;
                }
            }
            &::before {
                position: absolute;
                content: '';
                background-image: url(../images/info_sign-normal.png);
                background-repeat: no-repeat;
                width: 22px;
                height: 65px;
                top: 17px;
                left: 39px;
            }
            &.active {
                background-image: url(../images/btn-info-click.png);
                &::before {
                    background-image: url(../images/info_sign-hover.png);
                }
            }
        }
    }
    
    .totalbet {
        position: absolute;
        width: 398px;
        height: 108px;
        background-image: url(../images/totalbet-bg.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 68px;
        left: 253px;
        &-btn {
            &-minus {
                position: absolute;
                background-color: transparent;
                display: block;
                border: none;
                width: 86px;
                height: 86px;
                border-radius: 50%;
                background-image: url(../images/btn-totalbet-normal.png);
                background-repeat: no-repeat;
                background-size: contain;
                transition: all 0.3s;
                top: 11px;
                left: 6px;
                cursor: pointer;
                &::before {
                    position: absolute;
                    content: '';
                    background-image: url(../images/minus-dim.png);
                    background-repeat: no-repeat;
                    width: 40px;
                    height: 14px;
                    top: 36px;
                    left: 24px;
                }
                &:hover {
                    background-image: url(../images/btn-totalbet-hover.png);
                    &::before {
                        background-image: url(../images/minus.png);
                    }
                }
            }
            &-plus {
                position: absolute;
                display: block;
                border: none;
                width: 86px;
                height: 86px;
                border-radius: 50%;
                background-color: transparent;
                background-image: url(../images/btn-totalbet-normal.png);
                background-repeat: no-repeat;
                background-size: contain;
                transition: all 0.3s;
                top: 11px;
                right: 6px;
                cursor: pointer;
                &::before {
                    position: absolute;
                    content: '';
                    background-image: url(../images/plus-dim.png);
                    background-repeat: no-repeat;
                    width: 42px;
                    height: 42px;
                    top: 23px;
                    left: 23px;
                }
                &:hover {
                    background-image: url(../images/btn-totalbet-hover.png);
                    &::before {
                        background-image: url(../images/plus.png);
                    }
                }
            }
        }
        &-content {
            text-align: center;
            &-title {
                font-size: 36px;
                color: #ff6972;
            }
            &-text {
                position: relative;
                color: #ffd100;
                font-weight: 600;
                font-size: 36px;
                padding-left: 35px;
                &::before {
                    position: absolute;
                    content: '¥';
                    font-size: 36px;
                    font-weight: 600;
                    color: #ffd100;
                    left: 60px;
                }
            }
        }
    }
    
    .coin {
        position: absolute;
        width: 208px;
        height: 108px;
        background-image: url(../images/coin-bg.png);
        background-repeat: no-repeat;
        background-size: contain;
        top: 68px;
        left: 660px;
        &-content {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            &-title {
                font-size: 36px;
                color: #ff6972;
            }
            &-text {
                color: #ffd100;
                font-weight: 600;
                font-size: 36px;
                padding-left: 35px;
                &::before {
                    position: absolute;
                    content: '¥';
                    font-size: 36px;
                    font-weight: 600;
                    color: #ffd100;
                    left: 60px;
                }
            }
        }
    }
    
    .win {
        position: absolute;
        width: 871px;
        height: 198px;
        background-image: url(../images/win-bg.png);
        background-repeat: no-repeat;
        background-size: contain;
        top: 20px;
        left: 853px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &-content-title {
            font-size: 100px;
            color: #ffd100;
            font-weight: 700;
            padding-bottom: 20px;
        }
    }
    
    .checkbox {
        position: absolute;
        width: 168px;
        height: 106px;
        background-image: url(../images/turbo-bg-red.png);
        background-repeat: no-repeat;
        background-size: contain;
        top: 68px;
        right: 706px;
        transition: all .3s;
        cursor: pointer;
        & input {
            display: none;
            &:checked+.checkbox-facke {
                background-image: url(../images/btn-turbo.png);
                top: 10px;
                &::before {
                    background-image: url(../images/turbo.png);
                }
            }
        }
        &-facke {
            position: absolute;
            width: 152px;
            height: 59px;
            background-image: url(../images/btn-turbo-disable.png);
            background-repeat: no-repeat;
            background-size: contain;
            top: 44px;
            right: 8px;
            transition: all .3s;
            &::before {
                position: absolute;
                content: '';
                background-image: url(../images/turbo-dim.png);
                background-repeat: no-repeat;
                width: 105px;
                height: 26px;
                top: 14px;
                left: 25px;
            }
            &:hover {
                background-image: url(../images/btn-turbo-hover.png);
                &::before {
                    background-image: url(../images/turbo.png);
                }
            }
        }
        &.active {
            background-image: url(../images/turbo-bg-green.png);
        }
    }
    
    .auto {
        position: absolute;
        width: 388px;
        height: 385px;
        background-image: url(../images/auto-bg.png);
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 230px;
        right: 290px;
        z-index: 1;
        &-btn {
            background-color: transparent;
            border: none;
            border-radius: 50px;
            position: absolute;
            width: 388px;
            height: 100px;
            background-image: url(../images/btn-auto-disable.png);
            background-repeat: no-repeat;
            background-size: contain;
            bottom: 7px;
            right: 7px;
            transition: all .3s;
            cursor: pointer;
            &::before {
                position: absolute;
                content: '';
                background-image: url(../images/auto-dim.png);
                background-repeat: no-repeat;
                width: 100px;
                height: 31px;
                top: 33px;
                left: 66px;
            }
            &:hover {
                background-image: url(../images/btn-auto-hover.png);
                &::before {
                    background-image: url(../images/auto.png);
                }
            }
            &-inner {
                position: absolute;
                width: 402px;
                height: 114px;
                background-image: url(../images/btn-auto-bg.png);
                background-repeat: no-repeat;
                background-size: contain;
                bottom: 0;
                right: -7px;
                z-index: 1;
            }
            &.active {
                background-image: url(../images/btn-auto.png);
                &::before {
                    background-image: url(../images/auto.png);
                }
            }
        }
        &-title {
            text-transform: uppercase;
            font-size: 32px;
            color: #ffd100;
            padding-left: 64px;
            margin-top: 19px;
            &::before {
                position: absolute;
                content: '';
                background-image: url(../images/auto-title-sign.png);
                background-repeat: no-repeat;
                background-size: contain;
                width: 33px;
                height: 30px;
                top: 27px;
                left: 28px;
            }
        }
        &-list {
            text-transform: uppercase;
            font-size: 32px;
            color: #ffd100;
            padding-left: 30px;
        }
    }
    
    .spin {
        &-btn {
            border: none;
            display: block;
            border-radius: 50%;
            position: absolute;
            height: 342px;
            width: 342px;
            background-color: transparent;
            background-image: url(../images/spin-btn-disable.png);
            background-repeat: no-repeat;
            background-size: cover;
            transition: all .3s;
            top: -47px;
            right: 127px;
            z-index: 2;
            cursor: pointer;
            &:hover {
                background-image: url(../images/spin-btn-hover.png);
                &::before {
                    background-image: url(../images/spin-arrows.png);
                }
            }
            &::before {
                position: absolute;
                content: '';
                background-image: url(../images/spin-arrows-dim.png);
                background-repeat: no-repeat;
                width: 232px;
                height: 190px;
                top: 76px;
                left: 55px;
            }
            &.active {
                background-image: url(../images/spin-btn.png);
                &::before {
                    background-image: url(../images/spin-arrows.png);
                    animation: rotation 1s ease-in-out infinite;
                }
            }
        }
    }
    
    @keyframes rotation {
        0% {
            transform: rotate(-0deg);
        }
        10% {
            transform: rotate(-36deg);
        }
        20% {
            transform: rotate(-72deg);
        }
        30% {
            transform: rotate(-108deg);
        }
        40% {
            transform: rotate(-144deg);
        }
        50% {
            transform: rotate(-180deg);
        }
        60% {
            transform: rotate(-216deg);
        }
        70% {
            transform: rotate(-252deg);
        }
        80% {
            transform: rotate(-288deg);
        }
        90% {
            transform: rotate(-324deg);
        }
        100% {
            transform: rotate(-360deg);
        }
    }
